body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>header .container nav ul.icons:before {
    display: block;
    height: 1.125rem;
    margin-inline: 0.5rem;
    border-left: 0.0625rem solid #cfd5e2;
    content: "";
}

.data-table {
    table-layout: fixed;
    width: 100%;
}

.data-table td {
    padding: 0;
    padding-right: 10px;
    height: 40px;
    align-items: center;
    vertical-align: middle;
}

.data-table input {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

.deleted-row {
    background-color: #ff948c;
}

.modal-card-head input {
    border-radius: 0;
    border: 0;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

input[type=checkbox] {
    transform: scale(1.5);
}

.word-pack-table td {
    vertical-align: middle;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.game span {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5rem;
    display: block;
}

.game .hint-hanzi {
    height: 6rem;
    font-size: 6em;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
