<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/common.css">

    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/assets/js/dist/pocketbase.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"
        integrity="sha512-CeIsOAsgJnmevfCi2C7Zsyy6bQKi43utIjdA87Q0ZY84oDqnI0uwfM9+bKiIkI75lUeI00WG/+uJzOmuHlesMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/pocketbase.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

        });
    </script>
</head>

<body>
    <header x-data>
        <nav class="navbar m-4" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item navbar-logo" href="/">学</a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item has-text-centered" href="/">Home</a>
                    <template x-if="$store.auth.userEmail">
                        <a class="navbar-item has-text-centered" href="/editor">Pack editor</a>
                    </template>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons is-flex is-justify-content-center">
                            <template x-if="$store.auth.userEmail">
                                <a @click="$store.auth.logout()" x-text="$store.auth.userEmail"
                                    class="button is-light"></a>
                            </template>
                            <template x-if="!$store.auth.userEmail">
                                <a @click="$store.auth.login()" class="button is-light">Log in</a>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {{ content }}
    </div>
</body>

</html>
